.aside {
  width: 70px;
  height: 100vh;
  padding: 80px 16px;

  display: flex;
  flex-direction: column;

  background-color: #34495E;

  & > * {
    cursor: pointer;

    margin-bottom: 35px;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
