.projects {
  &__card {
    width: 500px;
    height: 270px;

    margin-left: 70px;
    margin-top: 60px;
    padding: 20px 25px 20px 30px;

    background-color: #34495E;

    &-title {
      cursor: pointer;

      font-weight: bold;
      color: #FFFFFF;
      font-size: 50px;
    }
  }
}
