.home {
  &__hello-card {
    margin-top: 172px;
  
    background-color: #34495E;
  }

  &__hello-title {  
    font-weight: bold;
    color: #ECF0F1;
    font-size: 52px;

    margin-bottom: 42px;
  }

  &__hello-description {
    font-weight: bold;
    color: #ECF0F1;
    font-size: 30px;
    max-width: 732px;

    &:last-of-type {
      margin-top: 22px;
      margin-bottom: 24px;
    }
  }

  &__hello-card-wrapper {
    display: flex;
  }

  &__hello-button {
    cursor: pointer;

    align-self: flex-end;
    margin-left: auto;

    width: 370px;
    height: 75px;

    font-size: 32px;
  }
}
