.default-background {
  position: relative;

  min-height: 100vh;
  width: 100vw;

  background-color: #E5E5E5;

  &__title {
    position: absolute;
    pointer-events: none;

    top: 58px;
    right: 50px;

    color: #BDC3C7;
    font-weight: bold;
    font-size: 84px;
  }
}
